# FRED (Federal Reserve Economic Data) St. Louis

API Overview Page  
* https://fred.stlouisfed.org/docs/api/fred/
* Scroll down and find the Python list

Jjoterson Python package seems to be the most up to date  ... does not have observation start end
* jjotterson/datapungi_fed (third-party software, external link)
* After experimentation learned that you always download an entire series. Does not take a start or end date

Mortada/Fredapi seems to be much better and has a blog page with good examples ... does support observation dates
* last update on Jan 18, 2019
* Github: https://github.com/mortada/fredapi
* Blog: https://mortada.net/python-api-for-fred.html
* Mortada for T10Y3M set the observation start and end

Installing packages 
* https://medium.com/i-want-to-be-the-very-best/installing-packages-from-github-with-conda-commands-ebf10de396f4
* Netflix metaflow.git example https://github.com/Netflix/metaflow
* remove https and add .git
* Not able to find it in an anaconda channel so had to install with pip
* pip install datapungi_fed

## Datapungi

In [1]:
import datapungi_fed as dpf
API_KEY_FED="a19b53296199d2aa189a12c99b960218"

In [12]:
print(dpf)

Sample starter:

import datapungi_fed as dpf

data = dpf.data()
print(data)
por just query a time series:
dpf('gdp')

In [14]:
data = dpf.data(API_KEY_FED)

dfgdp = data.series('gdp')
display(dfgdp)

                  gdp
date
1947-01-01    243.164
1947-04-01    245.968
1947-07-01    249.585
1947-10-01    259.745
1948-01-01    265.742
...               ...
2019-04-01  21329.877
2019-07-01  21540.325
2019-10-01  21747.394
2020-01-01  21561.139
2020-04-01  19408.759

[294 rows x 1 columns]

In [7]:
#CPIAUCSL

dfcpiaucsl=data.series('cpiaucsl')
display(dfcpiaucsl)

            cpiaucsl
date
1947-01-01    21.480
1947-02-01    21.620
1947-03-01    22.000
1947-04-01    22.000
1947-05-01    21.950
...              ...
2020-03-01   257.953
2020-04-01   255.902
2020-05-01   255.768
2020-06-01   257.214
2020-07-01   258.723

[883 rows x 1 columns]

In [9]:
dft10y3m=data.series('t10y3m')
display(dft10y3m)

            t10y3m
date
1982-01-04    2.32
1982-01-05    2.24
1982-01-06    2.43
1982-01-07    2.46
1982-01-08    2.50
...            ...
2020-08-10    0.48
2020-08-11    0.53
2020-08-12    0.58
2020-08-13    0.61
2020-08-14    0.61

[9658 rows x 1 columns]

In [10]:
dfunrate=data.series('unrate')
display(dfunrate)

            unrate
date
1948-01-01     3.4
1948-02-01     3.8
1948-03-01     4.0
1948-04-01     3.9
1948-05-01     3.5
...            ...
2020-03-01     4.4
2020-04-01    14.7
2020-05-01    13.3
2020-06-01    11.1
2020-07-01    10.2

[871 rows x 1 columns]

## Mortada

In [5]:
# https://mortada.net/python-api-for-fred.html
from fredapi import Fred
import pandas as pd
pd.options.display.max_colwidth = 60
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.core.pylabtools import figsize
figsize(20, 5)

In [18]:
API_KEY_FED="a19b53296199d2aa189a12c99b960218"
fred = Fred(api_key=API_KEY_FED)
dfsp500 = fred.get_series('SP500', observation_start='2014-09-02', observation_end='2020-08-17')
dfsp500.tail()

2020-08-11    3333.69
2020-08-12    3380.35
2020-08-13    3373.43
2020-08-14    3372.85
2020-08-17    3381.99
dtype: float64

In [16]:
dfgdp=fred.get_series('GDP',observation_start='2014-09-02', observation_end='2020-08-17')
dfgdp.tail()

2019-04-01    21329.877
2019-07-01    21540.325
2019-10-01    21747.394
2020-01-01    21561.139
2020-04-01    19408.759
dtype: float64

In [17]:
dft10y3m=fred.get_series('T10Y3M',observation_start='2020-08-01', observation_end='2020-08-17')
dft10y3m.tail()

2020-08-11    0.53
2020-08-12    0.58
2020-08-13    0.61
2020-08-14    0.61
2020-08-17    0.59
dtype: float64